.card-list-container{
    line-height: 25px;
}
.card-list-container .card-list-row{
    padding:15px 10px;
    color:#515151;
}
.card-list-container .card-list-row .card-info{
    width:65%;
}
.card-list-container .field-set label{
    font-size:10px;
    color:#939393;
}
.card-list-container .card-number{
    display: inline-block;
    margin-right:15px;
}
.card-list-container .card-type{
    display: inline-block;
    visibility: hidden;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    margin-right: 15px;
}
.card-list-container .card-type.master{
    visibility: visible;
    background-image: url("../images/mastercard.png");
    width:24px;
}
.card-list-container .card-type.visa{
    visibility: visible;
    background-image: url("../images/visa.png");
}
.card-list-container .action-item{
    text-decoration:none;
    color:#515151;
    margin-right:5px;
}